body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: relative;
        width: 1600px;
        height: 2346px;
    
        background: #FFFFFF;
}

.header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.logo {
    position: absolute;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.logo-color {
   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196f3;
}

.button {
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Замовити послугу */

.button-text {

        width: 216px;
        height: 50px;
        left: 690px;
        top: 430px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #e31010;
}
.title-box {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.linc-portfolio {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.linc-portfolio-portfolio {
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.linc-studio {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.linc-studio-portfolio {
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.linc-contacts {
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.email-title {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.tel-title {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.section-one {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}
/* Section 2 */

.title-section-two-a {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.title-section-two-b {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.title-section-two-c {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.title-section-two-d {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.p-section-two-a {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 215px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

.p-section-two-b {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 515px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

.p-section-two-c {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 815px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}

.p-section-two-d {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 1115px;
    top: 800px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
}
/* Section 3 */

.title-section-three {
    position: absolute;
    width: 366px;
    height: 42px;
    left: 617px;
    top: 966px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.foto-section-three-a {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1058px;

    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}

.foto-section-three-b {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1058px;

    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}

.foto-section-three-c {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1058px;

    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}

/* Section 4 */

.section-four {
position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1446px;

background: #F5F4FA;}

.foto-section-four-a {
position: absolute;
    width: 270px;
    height: 260px;
    left: 215px;
    top: 1632px;

    background: url(4853.jpg);
    border-radius: 0px;
}
.foto-section-four-b {
position: absolute;
    width: 270px;
    height: 260px;
    left: 515px;
    top: 1632px;

    background: url(5844.jpg);
    border-radius: 0px;
}
.foto-section-four-c {
position: absolute;
    width: 270px;
    height: 260px;
    left: 815px;
    top: 1632px;

    background: url(16166.jpg);
    border-radius: 0px;
}
.foto-section-four-d {
position: absolute;
    width: 270px;
    height: 260px;
    left: 1115px;
    top: 1632px;

    background: url(2968.jpg);
    border-radius: 0px;
}

.footer{
    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 2094px;
    
        background: #2F303A;
}
