body {
  font-family: 'Raleway', sans-serif; 
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
  
}

/* ---------header --------------*/
.logo-top {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo-top-color {
  color: #2196f3;
}
/* ---------- nav --------------*/
.link-focus a:hover {
  color: #000000;
  background-color: #2196F3;
  border-radius: 4px;
}
.link-focus a:focus {
  outline: none;
  box-shadow: 0 0 0 3px #2196F3;
}

.nav-link-color:hover {

  border-radius: 4px;
}
.nav-link-colorfocus {
  outline: none;

}


.nav-link,
.nav-link-color {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.nav-link-color {
  color: #2196f3;
}
.mailto,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}
.tel {
  color: #757575;
}
/* ---------------- section_1 ---------- */
.header-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #2f303a;
}

/* -------button Studio-------------*/
.button {
  font-family: 'Roboto';
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.button:hover {
  background-color: #188CE8;;
}
.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #188CE8;;
}
/* ------ cection-2 -------------*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.header-text-section-2{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.text-section-2 {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #757575;
}
/* Line */
.line {
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;
  border: 1px solid #ececec;
}
/* section-3 */

.foto {
  border-radius: 0px;
}
.header-text-section-4,
.text-section-4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.text-section-4 {
  font-size: 16px;
  color: #757575;
}

/* Footer */

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.logo-footer-color {
  color: #ffffff;
}
.footer-background {
  background: #2f303a;
}
.adress-link {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.ul-address a:hover {
 color: #ffffff;
  background-color: #2196F3;
  border-radius: 4px;
  width: text;
}
.ul-address a:focus {
  outline: none;
  box-shadow: 0 0 0 3px #2196F3;
}
.mailto-footer,
.tel-footer {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* portfoli */

.button-portfolio-color {
  background: #2196f3;
  /* shadow-middle */
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio-color:hover {
  background-color: #92c8f5;
}
.button-portfolio-color:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}
.button-portfolio {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.button-portfolio:hover {
  background-color: #92c8f5;
}
.button-portfolio:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}
.button-portfolio-color-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.button-portfolio-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-decoration: none;
  letter-spacing: 0.06em;
  color: #212121;
}
.text-portfolio {
   font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  letter-spacing: 0.03em;}
